In [3]:
import numpy as np
# The main object is the homogenous multidimensional arrays. Tables of same type elements

In [62]:
# Creating an Array
nums = np.array([(4, 5, 6, 7, 8), (4, 8, 6, 9, 8), (45, 6, 8, 3, 45)])
print(nums)
type(nums) # Checking the type

[[ 4  5  6  7  8]
 [ 4  8  6  9  8]
 [45  6  8  3 45]]

numpy.ndarray

In [59]:
print(nums.shape) # Finding the shape of an array
print(nums.dtype)

(3, 5)
int32

In [23]:
one = nums[2, -1]
print(one)
two = nums[2, 2]
print(two)

45
8

In [27]:
print(sum(nums))

[53 19 20 19 61]

In [28]:
print(nums.sum(axis=1)) # Adding the rows together
print("----------")
print(nums.sum(axis=0)) # Adding the columns

[ 30  35 107]
----------
[53 19 20 19 61]

In [117]:
jig = nums.reshape(5, 3) # Reshaping the array
print(jig)

[[ 4  5  6]
 [ 7  8  4]
 [ 8  6  9]
 [ 8 45  6]
 [ 8  3 45]]

In [120]:
print(jig[1:3, :]) #Slicing the array. Rows and cols needed
print('---------')
print(jig[2:, 1:])

[[7 8 4]
 [8 6 9]]
---------
[[ 6  9]
 [45  6]
 [ 3 45]]

In [30]:
add = sum(nums)
print(add)

[35 67 70]

In [31]:
print(nums.sum(axis=1)) # Adding the rows together
print("----------")
print(nums.sum(axis=0)) # Adding the columns

[15 19 23 59 56]
----------
[35 67 70]

In [46]:
names = np.linspace(100, 1000, 10)
print(names)

[ 100.  200.  300.  400.  500.  600.  700.  800.  900. 1000.]

In [49]:
likes = np.linspace(10, 100, 10) # Printing the specified num of nums between the given range 
print(likes)
twice= np.linspace(1, 10, 10)
print(twice)

[ 10.  20.  30.  40.  50.  60.  70.  80.  90. 100.]
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [41]:
you = np.arange(2, 5) # Print nums between 2 and 5 but not including 5
print(you)

[2 3 4]

In [49]:
you = np.arange(20, 25) # Print nums between 20 and 25 but not including 25
print(you)

[20 21 22 23 24]

In [4]:
hates = np.array([(23, 45, 654, 34, 56), (34, 76, 87, 56, 45), (67, 45, 645, 34, 56)])
print(hates)

[[ 23  45 654  34  56]
 [ 34  76  87  56  45]
 [ 67  45 645  34  56]]

In [50]:
print(hates[1, 2])
hates[-1, -1] # The last row, the last column..

87

56

In [30]:
you = hates.reshape(5, 3)
print(you)

[[ 23  45 654]
 [ 34  56  34]
 [ 76  87  56]
 [ 45  67  45]
 [645  34  56]]

In [41]:
print(you[2, 1])
print(you[4, 0])

87
645

In [55]:
print(you.ndim)
print(you.dtype)
print(you.size)
print(you.itemsize)

1
int32
5
4

In [60]:
friends = np.array([('You', 'Me', 'Them'), ('Me', 'Them', 'Her'), ('Jose', 'Kim', 'Zach')])
print(friends)

[['You' 'Me' 'Them']
 ['Me' 'Them' 'Her']
 ['Jose' 'Kim' 'Zach']]

In [61]:
names = np.array([(True, False, True), (False, True, True)])
print(names)

[[ True False  True]
 [False  True  True]]

In [70]:
# An example of built-in methods to create arrays
np.ones((3, 4), dtype=np.int16) # Three rows and 4 cols all ones.

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]], dtype=int16)

In [76]:
print(np.full((4, 5), 34)) # The first argument specifies the rows and cols. The 2nd, the value to fill them.
print('*********************')
print(np.full((5, 6), 1.1))

[[34 34 34 34 34]
 [34 34 34 34 34]
 [34 34 34 34 34]
 [34 34 34 34 34]]
*********************
[[1.1 1.1 1.1 1.1 1.1 1.1]
 [1.1 1.1 1.1 1.1 1.1 1.1]
 [1.1 1.1 1.1 1.1 1.1 1.1]
 [1.1 1.1 1.1 1.1 1.1 1.1]
 [1.1 1.1 1.1 1.1 1.1 1.1]]

In [82]:
# Printing the nums in a given range
np.arange(24, 76, 10) # First and second args specify the starting and end point
# the third arg specifies the difference between the values
np.arange(1, 10, 2)

array([1, 3, 5, 7, 9])

In [83]:
np.full((3, 4), False)

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False, False]])

In [84]:
np.full((3, 4), True)

array([[ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [85]:
np.full((3, 4), 'Hae')

array([['Hae', 'Hae', 'Hae', 'Hae'],
       ['Hae', 'Hae', 'Hae', 'Hae'],
       ['Hae', 'Hae', 'Hae', 'Hae']], dtype='<U3')

In [90]:
np.random.rand(2, 3) # Spits out random floats between 0 and 1 to fill all the rows and cols

array([[0.79023393, 0.17022669, 0.9286041 ],
       [0.50629798, 0.07495389, 0.88266665]])

In [88]:
np.random.rand(3, 4)

array([[0.33904945, 0.58589729, 0.97666715, 0.42753354],
       [0.89795474, 0.48237673, 0.89662567, 0.50607337],
       [0.52849161, 0.42558825, 0.66996426, 0.79857633]])

In [115]:
np.empty((4, 3))

array([[0.33904945, 0.58589729, 0.97666715],
       [0.42753354, 0.89795474, 0.48237673],
       [0.89662567, 0.50607337, 0.52849161],
       [0.42558825, 0.66996426, 0.79857633]])